.ia_dateTimePickerComponent {
    border: var(--containerBorder);    
}

.ia_dateTimePickerComponent--disabled {
    color: var(--label--disabled);
    border-color: var(--border--disabled);
    background-color: var(--input--disabled);
}

.ia_dateTimeInputComponent {
    color: var(--label);
}

.ia_dateTimeInputComponent--disabled {
    color: var(--label--disabled);
}

