.ia_reportViewerComponent {
    background-color: var(--neutral-30);
    border: var(--containerBorder);
    font-size: 0.875rem;
    color: var(--neutral-90);
}

.ia_reportViewerComponent__pdfDocument {
    border: var(--containerBorder);
    box-shadow: 5px 5px 0px var(--neutral-90);
}

.ia_reportViewerComponent__actionBar {
    border-top: var(--containerBorder);
    background-color: var(--container);
}
