.ia_thermometerComponent__glass,
.ia_thermometerComponent__tick,
.ia_thermometerComponent__meniscus {
    stroke: var(--neutral-90);
}

.ia_thermometerComponent__unit,
.ia_thermometerComponent__tickLabel,
.ia_thermometerComponent__valueDisplay {
    font-size: 1.5rem;
    fill: var(--neutral-90);
}

.ia_thermometerComponent__liquid {
    fill: var(--seq-2);
}
