.ia_componentModal {
    /* This is set in order to control the color of the arrow of the component modal.  Matches background color of secondary container */
    color: var(--containerRoot);
    background-color: var(--containerRoot);
    border: var(--containerBorder);
}

.ia_componentModal--fullViewOverlay {
    background-color: var(--opacity-85);
}
