.ia_dateRangeTimePicker {
    color: var(--neutral-90);
}

.ia_dateRangeTimePicker__rangeInfo {
    line-height: 1.125rem;
    font-size: 0.875rem;
}

.ia_dateRangeTimePicker__clearRange {
    color: var(--callToAction);
    font-weight: 500;
    font-size: 0.75rem;
    text-decoration: underline;
}

.ia_dateRangeTimePicker__timeInfo {
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
}
