.ia_table {
    color: var(--neutral-90);
}

.ia_table__headContainer,
.ia_table__footContainer {
    background-color: var(--container);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

.ia_table__foot,
.ia_table__head {
    font-weight: 500;
    font-size: 0.875rem;
}

.ia_table__head__header__sort {
    color: var(--neutral-50);
}

.ia_table__head__header__sort--active {
    color: var(--callToAction--active);
}

.ia_table__body {
    background-color: var(--container);
    font-size: 0.875rem;
}

.ia_table__body__row--even {
    background-color: var(--neutral-10);
}

.ia_table__body__row--odd {
    background-color: var(--neutral-20);
}

.ia_table__body__emptyMessage {
    color: var(--neutral-60);
}

.ia_table__resizeGuide {
    background-color: var(--callToAction);
    opacity: 0.5;
}
