.ia_textArea {
    font-size: 0.875rem;
    color: var(--neutral-90);
    border: var(--containerBorder);
    background-color: var(--input);
    padding: 0.5rem;
}

.ia_textArea::placeholder {
    color: var(--neutral-50);
}

.ia_textArea:disabled {
    color: var(--label--disabled);
    border: 1px solid var(--border--disabled);
    background-color: var(--input--disabled);
    cursor: not-allowed;
}
