.ia_timeInput__separator {
    background-color: var(--input);
    border-top: var(--containerBorder);
    border-bottom: var(--containerBorder);
}

.ia_timeInput__separator--disabled {
    color: var(--label--disabled);
    background-color: var(--input--disabled);
}

.ia_timeInput--buttonMode {
    color: var(--label);
}

.ia_timeInput--buttonMode--disabled {
    color: var(--label--disabled);
}
