.ia_viewStateDisplay {
    border: dashed 1px var(--border--disabled);
}

.ia_viewStateDisplay__icon {
    color: var(--neutral-70);
}

.ia_viewStateDisplay__primaryMessage {
    color: var(--neutral-90);
}

.ia_viewStateDisplay__secondaryMessage {
    color: var(--neutral-70);
}
