body {
    font-family: var(--font-NotoSans);
    font-weight: 400;
    font-size: 1rem;
    color: var(--label);
    background-color: var(--containerRoot);
    font-size: 100%;
}

input, textarea, keygen, select, button {
    font-family: var(--font-NotoSans);
    font-weight: 400;
}

:focus {
    outline: 1px solid var(--callToAction--hover);
}

::selection {
    background: var(--callToActionHighlight);
    color: var(--label);
}
