.ia_popup {
    background-color: var(--container);
    box-shadow: var(--boxShadow5);
    border: var(--containerBorder);
}

.ia_popup__header {
    background-color: var(--containerNested);
    color: var(--neutral-90);
    border-bottom: var(--containerBorder);
    font-size: 0.875rem;
}
